---

import Layout from "../components/front_page_layout.astro";

---

<head>
    <meta lang="en"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
        name="description"
        content="C3 is a programming language that builds on the syntax and semantics of the C language, with the goal of evolving it while still retaining familiarity for C programmers."
    />
    <meta name="og:title" content="C3" />
    <meta
        name="og:description"
        content="C3 is a programming language that builds on the syntax and semantics of the C language, with the goal of evolving it while still retaining familiarity for C programmers."
    />
    <meta content="/logo.svg" property="og:image" />
    <meta content="#4355ec" data-react-helmet="true" name="theme-color" />
    <meta name="og:image" content="/logo.svg" />

    <link rel="icon" href="/ico.svg" type="image/x-icon" />

    <title>C3 | An evolution, not a revolution</title>

    <script>
        import "../base.css";
        
    </script>
</head>


<body class="">
        <div >
            <Layout/>
        </div>
    <link rel="stylesheet" href="/index.css" />
</body>


